.center-avatar{
    margin: auto;
}
.center-button{
    margin: auto;
    padding: 10px;
}

.validation_messages{
    color: rgba(203, 45, 45, 0.839);
    font-size: 12px;
    margin-top: 5px;
    //mejorar estilo de presentación de mesaje de error... idea: usar popover
}