<ion-content [fullscreen]="true">

  <swiper-container
    [loop]="true"
    [pagination]="{type: 'bullets', clickable:true}"
    navigation = "true"
  >
    <swiper-slide *ngFor="let slide of slides">
        <div class="dv-slide">
            <img src={{slide.imagePath}}/>
            <div class="slide-content">
                <h1 class="title-slide">{{slide.title}}</h1>
                <p class="p-slide">{{slide.description}}</p>
            </div>
            <ion-button (click)="goToIntro()" fill="outline" size="small"> Click para omitir</ion-button>
        </div>
    </swiper-slide>
</swiper-container>
</ion-content>
