<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div id="container">
      <swiper-container 
      [loop]="true" 
      navigation="true"
      [autoplay]="{ delay: 3000, pauseOnMouseEnter: true }"
      [grabCursor]="true"
      [centeredSlider]="true"
      [slidesPerView]="3"
      [effect]="'coverflow'"
      [coverflowEffect]="{
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        speed: 80,
        slideShadows: true
      }">
       <swiper-slide *ngFor="let item of event_list">
        <img src="{{item.image}}">
      </swiper-slide>
    </swiper-container>
    <div class="hola"><ion-button (click)="goToIntro()">Ver Intro</ion-button></div>
        
    </div>
</ion-content>


