@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Nunito&family=Rubik+Burned&display=swap');
#container {
  text-align: center;

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.avatar-slide {
  --border-radius: 0px;
}

.title-slide {
  font-family: 'Nunito', sans-serif;
  color: rgb(56, 115, 115);
  margin: 10px 0;
  font-weight: bold;
}

.p-slide {
  font-family: 'Nunito', sans-serif;
  color: #2068f6;
  margin-bottom: 20px; 
}

.p-swipe {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: rgb(151, 166, 160);
  border: 2px solid rgb(177, 186, 182);
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  min-width: 400px;
  background-color: #ffffff;
  overflow: hidden;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: relative; 
  border: 4px solid #232d45;
  border-radius: 20px;
  overflow: hidden;
}

.dv-slide {
  text-align: center;
  justify-content: center;
  max-width: 80vw;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
 
  position: relative;
}
.slide-content {
  margin-bottom: 20px; 
  overflow: hidden;
}

.dv-slide img {
  width: 40%;
  height: auto;
  max-height: 50vh;
  margin-bottom: 20px;
  overflow: hidden;
}