@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Nunito&family=Rubik+Burned&display=swap');
.container {
  text-align: center;
  justify-content: center;
  max-width: 80dvw;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --background: #fff;
  --color: black;
}
ion-toolbar{
  --background: #fff;
  --color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  --font-family: 'Nunito', sans-serif;
}
swiper-slide {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

swiper-container {
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  overflow: hidden;
  --swiper-navigation-color:var(--your-navigation-color, #ff0000);
}

swiper-slide img {
  width: 100%;
  height: auto; 
  align-items: center;
  justify-content: center;
  display: flex;
}
ion-button {
  --font-family: 'Nunito', sans-serif;
  --background:rgba(117, 128, 123, 0.47);
  --background-activated: rgba(117, 128, 123, 0.47);
  --color:rgb(0, 0, 0);
  --border: 2px solid rgb(177, 186, 182);
  --font-size: 12px;
  --border-radius: 10px;
  --border-color: rgb(151, 166, 160);
  --box-shadow: 1px 2px 6px 0 rgba(117, 128, 123, 0.47);
  --padding-top: 1px;
  --padding-bottom: 1px;
  --width: 10px;
  --height: 10px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    color: #ccc;
}
.hola{
  display: flex;
  align-items: center;
  justify-content: center;
}