@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Nunito&family=Rubik+Burned&display=swap');
ion-input {
  --background-color: #ffffff;
  --color: rgb(0, 0, 0);
  margin-bottom: 10px;
  --highlight-color-focused: #2f7bff;
  --highlight-color-valid: #1fef3e;
  --highlight-color-invalid: #701212;
  --font-weight: bolder;

  display: block;
}
ion-item {
  --background: rgba(0, 0, 0, 0);
}

figure {
  padding-bottom: 10px;
}
.center-avatar {
  margin: auto;
  margin-top: 10px;
}

.registration-container {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background: url("../../assets/img-content/wall.jpg") center center/cover no-repeat fixed;
}
.registration-form {
  font-family: 'Nunito', sans-serif;
  width: 100dvw; 
  max-width: 400px;
  background-color: #5e5a5a93; 
  border-radius: 40px;
  margin: auto; 
  box-sizing: border-box; 
}
.registration-form ion-title,
.registration-form ion-input,
.registration-form ion-button {
  font-size: 1em; /* Puedes ajustar según tus preferencias */
}
ion-button {
  --font-family: 'Nunito', sans-serif;
  --color: rgb(255, 255, 255); /* Cambiado a blanco para el color del texto */
  --background: rgba(23, 163, 184, 0.745); /* Cambiado a un color azul */
  --background-activated: rgba(23, 162, 184, 0.8);
  --background-focused: rgba(23, 162, 184, 0.8);
  --background-hover: rgba(23, 162, 184, 0.8);
  --border: none; /* Cambiado a ninguno para eliminar el borde */
  --font-size: 16px; /* Ajustado el tamaño del texto */
  --border-radius: 10px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Cambiado el efecto de sombra */
  --padding-top: 10px;
}

.center-button {
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.validation_messages {
  color: #f52c2c;
  background: rgba(95, 87, 87, 0.792);
}
.ion-text-center a {
  display: block;
  margin-bottom: 20px;
}