<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()"> Volver</ion-button>    <ion-title class="ion-text-center">Registro</ion-title>
    </ion-buttons> 

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="registration-container">
    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" class="registration-form"
    >
      <figure class="ion-text-center">
        <ion-avatar class="center-avatar">
          <img src="../../assets/icon/favicon.png" alt="logo" class="logo" />
        </ion-avatar>
      </figure>
      <ion-item>
        <ion-input [clearInput]="true" label="Nombre" labelPlacement="floating" placeholder="Nombre" formControlName="name"
        ></ion-input>
        <ion-input [clearInput]="true" label="Apellido" labelPlacement="floating" placeholder="Apellido" formControlName="lastName"
        ></ion-input>
        <ion-input [clearInput]="true" label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"
        ></ion-input>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" placeholder="Contraseña" formControlName="password"
        ></ion-input>
        <ion-input label="Confirmar Contraseña" labelPlacement="floating" type="password" placeholder="Confirmar Contraseña" formControlName="confirmPassword"
        ></ion-input>
      </ion-item>
        <div class="validation_messages">
          <ng-container
            *ngFor="let campos of ['email', 'password', 'confirmPassword', 'name', 'lastName']">
            <ng-container
              *ngFor="let validation of validation_messages[campos]"
            >
              <div
                *ngIf="(registerForm.get(campos)?.hasError(validation.type) && 
              registerForm.get(campos)?.dirty)"
              >
                {{validation.message}}
              </div>
            </ng-container>
          </ng-container>
        </div>

      <div class="ion-text-center">
        <div>{{registerMessage}}</div>
        <ion-button (click)="register(registerForm.value)" class="center-button"  type="submit" [disabled]="!registerForm.valid">Registrarse</ion-button>
        <a (click)="goToLogin()">¿Ya tienes una cuenta?</a>
      </div>
    </form>

  </div>
</ion-content>
